*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}

html{
    font-family: "montserrat";
}
body{
    background-color: #fcfcfc;
}

.figure {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 300px; /* Altura do container */
    width: 100%; /* Largura do container ocupando toda a largura disponível */
    padding: 10px;
    margin-bottom: 20px; /* Espaço entre cada seção */
}

.figure img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;


}

.titulo-secao-menu{
    text-align: center;
    color: #ffffff;
    background-color: #049b93;
    padding: 10px;
    width: 250px;
    height: 50px;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
}

.container-titulo{
    display: flex;
    align-items:center;
    justify-content: center;
}



.container-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}


.item-menu{
    flex: 1 0 cal(33.33% - 16px); /*A sintaxe dessa propriedade é assim: 1 significa que ele pode crescer se der; 0 diz que ele nao pode encolher se nao poder, assim ele preserva as propriedades, e por fim, eu usei o flex-basis que basicamente pega o total da tela e calcula 33,33% em relação ao container queeu to usando - 16px de padding lá do começo. por isso eu optei usar: flex-grow; flex-shrink; flex-basis, em sequencia.*/
    gap: 30px;
    padding: 15px;
    width: 600px;
    height: auto;
    text-align: center;
    margin-bottom: 12px;

}


.titulo-principal-container{
    display: flex;
    align-items:center;
    justify-content: center;

}

.titulo-principal{
    color:#049b93;
    font-size: 50px;
}


.contato-whatsapp{
    width: 56px; /*estilizando o aside*/
    height: 56px; /*estilizando o aside*/
    background-color: #fcfcfc; /*estilizando o aside*/
    border-radius: 50%; /*deixando a borda 100% redonda. possível pq a largura e altura são iguais*/
    padding: 8px; /*estou fazendo um espaçamento interno para que o ícone do whatsapp fique 100% dentro do círculo*/
    position: fixed; /*posição fixed = fixa elemento na tela. *//*muda o comportamento de posição dos elementos da minha página*/
    right: 16px; /*quero que o botao do whatsapp fique a 16px no lado*/
    bottom: 16px; /*16px do fundo da tela*/
}

.contato-whatsapp img{
    /*estilizando a imagem */
    width: 100%; /*agora estou adequando o tamanho da imagem para ficar 100% do tamanho do elemento pai, que é o aside.*/
}

/* Estilo do footer */
.footer {
    display: flex;
    justify-content: space-around; /* Distribui as colunas com espaço uniforme */
    background-color: #049b93;
    padding: 50px;
    text-align: center;
}

.coluna-footer {
    flex: 2; /* Cada coluna ocupa a mesma proporção do espaço disponível!!!! */
    padding: 0 10px;
}

.footer h3 {
    color: #fcfcfc;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 16px;
    color: #fcfcfc;
}

.titulo-item-menu{
    font-size: 2rem;
}

.descricao-item-menu{
    margin: 10px 10px;
    font-size: 1.25rem;
    text-align: center;

}


.cabecalho {
    background-color: #049b93;
    color: #fff; 
    padding: 20px 0; 
    display: flex;
    justify-content: space-between; 
}

.menu {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
}

.menu li {
    margin-left: 20px; 
    
}


.menu li a {
    color: #fff; 
    text-decoration: none; 
    font-size: 1.2rem; 
    transition: color 0.3s ease; 
    
}

.menu li a:hover {
    color: #d83d20; 
}


.menu .reservar {
    background-color: #ffffff; 
    color: #049b93; 
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s;
}

/* Responsividade */

@media (max-width: 468px) {
    .menu {
        flex-direction: column; 
        align-items: center; 
    }

    .menu li {
        margin-left: 0; 
        margin-bottom: 10px; 
    }

    .menu .reservar {
        margin-top: 10px; 
    }

    .cabecalho {
        flex-direction: column; 
        align-items: center; 
    }

    .titulo-principal {
        font-size: 2rem; 
    }
}



