*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}

html{
    font-family: "montserrat";
}
body{
    background-color: #fcfcfc;
}


.footer {
    display: flex;
    justify-content: space-around; /* Distribui as colunas com espaço uniforme */
    background-color: #049b93;
    padding: 50px;
    text-align: center;
}

.coluna-footer {
    flex: 2; /* Cada coluna ocupa a mesma proporção do espaço disponível!!!! */
    padding: 0 10px;
}

.footer h3 {
    color: #fcfcfc;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 16px;
    color: #fcfcfc;
}



/*Formulário começa aqui:*/

.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
}

.formulario {
    background: #fcfcfc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fcfcfc;
    width: 100%;
    max-width: 500px;
}

.area-formulario {
    border: none;
    padding: 0;
}

.formulario-titulo {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.campos-formulario {
    margin-bottom: 15px;
}

.campos-formulario label {
    display: block;
    margin-bottom: 5px;
}

.campos-formulario input,
.campos-formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #fcfcfc;
    border-radius: 3px;
}

.campos-formulario button {
    width: 100%;
    padding: 10px;
    background: #d83d20;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

/* MENU de NAVEGAÇÃO */

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente os itens */
    background-color: #049b93;
    font-size: 20px;
    padding: 16px;    
  }
  
  header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinha os itens do menu à direita */
    margin-top: 15px; /* Aumenta a distância entre o topo e o menu */
  }
  
  header nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fcfcfc;
    margin-bottom: 15px; /* Espaçamento vertical entre os links */
    margin-right: 20px; /* Espaçamento horizontal entre os links */
  }
  
  header nav a:hover {
    color: #d83d20; /* Cor ao passar o mouse */
  }
  .titulo-nav{
      color: #fcfcfc
    }